body {
  margin: 0;
  background-color:#0f222b;
  text-align: left;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 85%;
  }

.main-feed-container{
  display: flex;
  flex-direction: column;
  }

.header{
  display: flex;
  flex-direction: row;
  justify-content: right;
  
}
.header-links{
  margin-top: 20px;
  width: 900px;
  color: #19f6e8;
  text-align: right;
}

.header #header-link{
  color: #19f6e8;
}

/* For header files */
.header-container{
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  font-size:120%;
  width: 240px;
}


.left-item{
  text-align: left;
  font-size: 150%;
}

.all-proj{
  padding-top: 30px;
  max-width: 1200px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.proj-section{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.proj-card{
  width:100%;
}

.proj-blocks{
  text-align: left;
  /* padding-left: 20px; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* border-left: 2px solid white; */
  height: 50px;
}
.proj-title{
  font-size: 18px;
  color: white;
  transition: font-size 0.5s ease;
}

.proj-date{
  font-size: 15px;
  color: #19f6e8;
}

.proj-summary{
  opacity: 60%;
  transition: opacity 0.5s ease;
}

.proj-card:hover .proj-title{
  font-size: 21px;
  opacity: 100%;
  transition: 0.8s;
}

.proj-card:hover .proj-summary{
  opacity: 100%;
}



/* hover effect for cards */

.img-container {
  width:100%;
  position: relative;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .9s ease;
  background-color: teal;
}

.proj-card:hover .overlay {
  opacity: 0.93;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: 18px;
}


/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 1200px) {
  .main-container{
    flex-direction: column; /* The width is 100%, when the viewport is 800px or smaller */
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main-container{
    flex-direction: column; /* The width is 100%, when the viewport is 800px or smaller */
    width: 100%;
    padding-right: 10px;
  }
  .all-proj{
    padding-top: 20px;
    max-width: 1200px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .text{
    font-size: 16px;
  }
  .proj-blocks{
    margin-bottom: 25px;
  }
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}



* { color:#fff; text-decoration: none;}